<footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8  pt-2">
        <p>SAE 301 Remastérisée en SAE 401 par Camille Prothin sans l'aide de Naoki Clément T-T BUT MMI 2023</p>
        <p>Toutes les données présentes sur ce site web sont fictives.</p>
        <a href="/CGVs" class="link-underline-light link-offset-2 link-underline-opacity-25 text-light">Conditions générales de vente</a>
        </div>
        <div class="col-md-3">
          <h5>Nous contacter</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-envelope"></i> contact@lamainnoire.nc</li>
            <li><i class="fas fa-phone"></i> +687 85 58 65</li>
            <li><i class="fas fa-map-marker-alt"></i> Rue Bouquet de la Grye, Nouméa, Nouvelle-Calédonie</li>
          </ul>
        </div>
      </div>
    </div>
</footer>