<div class="cgv">
    <h1 class="ML">Mentions légales</h1><br/>
        <div class="cgv_contenu">
            <h4>Projet SAÉ 301 réalisé par Camille PROTHIN et Naoki CLÉMENT</h4><br/>
        
            <p>Conception graphique et images : Google Image, sources diverses.
            Toutes les images ne seront pas à usage commercial, elles resteront dans un contexte de projet universitaires.</p>
            
            <p class="link-underline-light">Adresse mail : <u>contact@lamainnoire.nc</u> </p>
            
            <p>Conformément à <strong><u>l'article 15</u></strong> du Règlement général sur la protection des données (RGPD) du 27 avril 2016, vous disposez d'un droit d'accès aux informations vous concernant. Si vous trouvez que ces informations sont incorrectes.</p>
            
            <p><strong><u>L'article 16</u></strong> du RGPD vous permet de les modifier ou de les supprimer. Dans ce cas, merci de contacter le Directeur de la Communication : <u>contact@lamainnoire.nc</u>
            Pour toute question relative à la collecte ou au traitement de vos données personnelles par le site web, vous pouvez contacter le responsable de la protection des données du projet : <u>contact@lamainnoire.nc</u>
            Les fichiers détenus qui comportent des données à caractère personnel ne seront jamais transmis à des tiers et ne feront jamais l'objet d'une commercialisation.</p>
            
            <p>Pour supprimer les informations de votre compte, veuillez contacter <u>contact@lamainnoire.nc</u>. Les données seront supprimées dans un délai de 1 à 2 semaines. Lors de la suppression de votre compte, les informations bancaires enregistrées tel que le numéro de carte bleu seront supprimées en même temps.</p>
            
            <p>Votre adresse, nom d'utilisateur et le mot de passe à l'inscription sont conservés dans la base de données de manière sécurisée, les données ne serons pas utilisés et seront supprimés à la suppression du compte.
            <br/><br/>Aucun produit ne sera délivré à la fin de votre réservation.</p>
        </div>
</div>