.button-1{
    height: 28px;
    background-color: #F8F8F8;
    border-radius: 3px;
    border-color: #E8E8E8;
    transform: translateY(7px);
}
.cnxn{
    transform: translateY(-10px);
}
.chiffre{
    color: #35755e;
    font-size: large;
    width: 5%;
    transform: translateX(-33px);
}